@import "../abstracts/all";
.blog-area {
    padding-top: 120px;
    padding-bottom: 120px;
    .blog-container {
        .blog-item {
            margin-bottom: 50px;
            .blog-item-img {
                position: relative;
                img {
                    border-radius: 0;
                    width: 100%;
                }
                a {
                    position: absolute;
                    display: block;
                    color: #fff;
                    background-color: #ff003c;
                    border-radius: 5px;
                    bottom: -20px;
                    left: 40px;
                    padding: 0px 30px;
                    p {
                        color: #fff;
                        font-size: 18px;
                    }
                    h3 {
                        font-family: $play-fair;
                        font-size: 30px;
                    }
                }
            }
            .blog-inform {
                padding: 60px 30px 35px 35px;
                box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
                a {
                    color: #ff8b23;
                    h2 {
                        font-size: 24px;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                }
                p {
                    margin-bottom: 30px;
                }
                ul {
                    li {
                        float: left;
                        font-size: 14px;
                        &:first-of-type:after {
                            content: "|";
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                        a {
                            color: #999999;
                        }
                    }
                }
            }
        }
        .blog-pagination {
            margin-top: 80px;
        }
    }
    .blog-right-container {
        .blog-right-item {
            background: #fbf9ff;
            padding: 30px;
            margin-bottom: 30px;
            h4 {
                &::after {
                    content: "";
                    display: block;
                    padding-top: 15px;
                    border-bottom: 1px solid #f0e9ff;
                }
            }
        }
        .blog-right-search {
            form {
                .form-group {
                    .input-group {
                        input {
                            height: 50px;
                            border-color: #f0e9ff;
                            font-size: 13px;
                            color: #999999;
                            padding-left: 20px;
                            border-radius: 0;
                            border-right: 0;
                            position: relative;
                        }
                        .input-group-append {
                            display: flex;
                            position: absolute;
                            z-index: 100;
                            right: 0;
                            height: 100%;
                            .search-btn {
                                background: #2577fd;
                                border-left: 0;
                                border: 1px solid #f0e9ff;
                                padding: 4px 15px;
                                border-left: 0;
                                transition: 0.4s;
                                cursor: pointer;
                                i {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .search-submit-btn {
                        width: 100%;
                        margin-top: 1rem !important;
                    }
                }
            }
        }
        .blog-categories {
            ul {
                padding: 0;
                li {
                    border-bottom: 1px solid #f0e9ff;
                    transition: all 0.3s ease 0s;
                    padding-bottom: 20px;
                    padding-top: 20px;
                    a {
                        font-size: 16px;
                        line-height: 20px;
                        color: #888888;
                        transition: 0.4s ease-in-out;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        .recent-post {
            h4 {
                font-size: 20px;
                margin-bottom: 40px;
                // &:first-of-type::after {
                //     content: "";
                //     display: block;
                //     border-bottom: 1px solid #f0e9ff;
                // }
            }
            .blog-post-container {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                &::after {
                    clear: both !important;
                }
            }
            .recent-post-text {
                margin: 10px;
                margin-left: 20px;
                a {
                    h3 {
                        font-size: 16px;
                        line-height: 20px;
                        transition: all 0.3s linear;
                        font-family: "Playfair Display", serif;
                        color: #0b1c39;
                        margin-top: 6px;
                        font-style: normal;
                        font-weight: 500;
                        padding: 0;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .tag-clouds {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top: 30px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    border: 1px solid #eeeeee;
                    background: #fff;
                    padding: 4px 20px;
                    margin-bottom: 8px;
                    margin-right: 3px;
                    transition: all 0.3s ease 0s;
                    color: #888888;
                    font-size: 13px;
                    &:hover {
                        color: white;
                        background-color: #ff003c;
                    }
                }
            }
        }
    }
    .instagram-feeds {
        .blog-post-container {
            display: inline-block;
            ul {
                display: flex;
                flex-wrap: wrap;
                padding-top: 20px;
                margin-right: -6px;
                margin-left: -6px;
                position: relative;
                right: 15px;
            }
            li {
                width: 33.33%;
                float: left;
                padding: 3px;
                &::after {
                    clear: both;
                }
                a {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .blog-subscribe {
        form {
            padding-top: 30px;
            input {
                height: 50px;
                border-color: #f0e9ff;
                font-size: 13px;
                color: #999999;
                padding-left: 20px;
                border-radius: 0;
            }
        }
    }
    .search-submit-btn {
        transition: 0.4s;
        &:hover {
            color: #000 !important;
            background-color: white !important;
            border: 1px solid red !important;
        }
    }
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
    h4 {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 22px;
        font-family: $play-fair;
    }
}