.card-area {
    padding: 200px 0;
    // overflow-x: hidden !important;
    .table-responsive {
        display: block;
        width: 100%;
        // overflow-x: hidden !important;
        table {
            margin-bottom: 30px;
            border-bottom: 1px solid #ddd;
            td {
                max-width: 100% !important;
            }
            thead {
                tr {
                    th {
                        border-top: 0;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: $play-fair;
                        color: #828bb2;
                        border-bottom: 0!important;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        vertical-align: middle;
                        align-self: center;
                        border-top: 1px solid #dee2e6;
                        .media {
                            display: flex;
                            -ms-flex-align: start;
                            align-items: flex-start;
                            padding: 0;
                            .d-flex {
                                padding-right: 30px;
                                img {
                                    border: 1px solid #eee;
                                    border-radius: 3px;
                                    max-width: 150px;
                                }
                            }
                            .media-body {
                                vertical-align: middle;
                                align-self: center;
                                width: 500px;
                                padding: 0;
                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        h5 {}
                        .product-count {
                            display: inline-block;
                            position: relative;
                            margin-bottom: 0px;
                            // overflow: hidden;
                            input {
                                width: 100px;
                                padding-left: 30px;
                                height: 50px;
                                outline: none;
                                box-shadow: none;
                                border: 1px solid #eee;
                                border-radius: 3px;
                            }
                            .input-number-decrement {
                                position: absolute;
                                right: 0;
                                bottom: -9px;
                                padding: 10px;
                                border-left: 1px solid #ddd;
                                display: inline-block;
                                cursor: pointer;
                                padding-top: 10px;
                            }
                            .input-number-increment {
                                position: absolute;
                                right: 0;
                                top: -7px;
                                padding: 10px;
                                border-left: 1px solid #ddd;
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                    }
                }
                tr.shipping-area .shipping-box {}
            }
            .bottom-button {}
        }
    }
    .cupon-text {
        &::after {
            clear: both;
        }
    }
}