.shop-method-area {
    .shopping-method {
        i {
            font-size: 40px;
            color: #282828;
            margin-bottom: 25px;
            display: block;
        }
        h6 {
            color: #282828;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 12px;
        }
        p {
            font-size: 16px;
        }
    }
}