        @media (min-width:768px) {
            .blog-details-area .blog-details h2 {
                font-size: 24px;
                margin-bottom: 15px;
            }
            .blog-details-area .quote-wrapper {
                padding: 30px;
                .quotes {
                    padding: 25px 25px 25px 30px;
                }
            }
        }