@media only screen and (min-width: 1200px) and (max-width: 1600px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .card-area {
        padding: 100px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 767px) {}

@media (min-width:768px) {
    .card-area .media {
        display: block;
    }
}

@media (max-width: 991px) {
    .card-area {
        padding: 70px 0px;
    }
}

@media (max-width: 1416px) {
    .card-area .media-body {
        width: 300px !important;
        p {
            font-size: 14px;
        }
    }
    .card-area {
        .emptytd {
            display: none !important;
        }
    }
    .shipping-area {
        display: flex !important;
        justify-content: left;
        align-items: flex-start;
    }
}