@mixin navbarfont {
    font-size: $navbar-font-size;
    font-family: $navbar-font;
}

@mixin navbar-card-before {
    position: absolute;
    content: "02";
    width: 25px;
    height: 25px;
    background: #00b1ff;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: 0px;
    right: -6px;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}