$poppins:'Poppins',
sans-serif;
$navbar-font:$poppins;
$navbar-font-size:14px;
$navbar-hover-color:#ff003c;
$dark-color: #000;
$footer-color:#868c98;
$Yellow-tail:"Yellowtail",
cursive;
$play-fair:"Playfair Display",
serif;