@import"layout/all";
@import"abstracts/all";
@import "core/all";
@import "sections/all";
@import "mediaqueries/all";
@import "pages/all";
@import "components/all";
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: initial !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: $poppins !important;
    overflow-x: hidden;
}

.float-start,
.float-end {
    &::after {
        clear: both;
    }
}